<main role="main" class="container">

  <div class="row py-5 ">

    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        Blog reading now...
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">{{post?.title}}</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

        <div [innerHTML]="post?.content"></div>
      </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <app-blog-sidebar></app-blog-sidebar>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->